
body {
    margin: 900;
    padding: 0;
    --main-text-color: #f7f7f7;
    --secondary-text-color: #a4a4a4;
}

.section-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-reverse {
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--main-text-color);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}




#espacio-blanco {
    height: 400px;
}

.form {
    padding: 0 20px;
    margin-top: 80px;
}

.form .form-row {
    padding: 15px;
}

input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[disabled] {
    opacity: 0.5;
}

input[type=button], input[type=submit], button {
    background-color: rgb(255, 81, 0);
    border: none;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead > tr {
    background-color: #f5f5f5;
}

th {
    height: 50px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tbody > tr:hover {
    background-color: #dedddd;
}

.img-contacto {
    position: fixed;
    z-index: -1;
}